IO_LOC "sys_clk" 4;
IO_PORT "sys_clk" PULL_MODE=UP;

IO_LOC "key1" 88;
IO_PORT "key1" PULL_MODE=DOWN;
IO_LOC "key2" 87;
IO_PORT "key2" PULL_MODE=DOWN;

IO_LOC "sys_tx" 69;
IO_LOC "sys_rx" 70;

IO_LOC "sys_led[0]" 15;
IO_LOC "sys_led[1]" 16;
IO_LOC "sys_led[2]" 17;
IO_LOC "sys_led[3]" 18;
IO_LOC "sys_led[4]" 19;
IO_LOC "sys_led[5]" 20;

IO_LOC "sys_tms" 5;
IO_LOC "sys_tck" 6;
IO_LOC "sys_tdi" 7;
IO_LOC "sys_tdo" 8;

IO_LOC "mspi_do" 62;
IO_LOC "mspi_di" 61;
IO_LOC "mspi_cs" 60;
IO_LOC "mspi_clk" 59;
IO_LOC "mspi_wp" 57;

// Built-in microSD slot, SPI mode: DAT3=CS, CMD=MOSI, DAT0=MISO.
IO_LOC "sd_clk" 83;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "sd_cmd" 82;
IO_PORT "sd_cmd" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_dat0" 84;
IO_PORT "sd_dat0" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_dat3" 81;
IO_PORT "sd_dat3" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_p[0]" 35;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_n[0]" 36;
IO_PORT "tmds_data_n[0]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_p[1]" 37;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_n[1]" 38;
IO_PORT "tmds_data_n[1]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_p[2]" 39;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE;
IO_LOC "tmds_data_n[2]" 40;
IO_PORT "tmds_data_n[2]" IO_TYPE=LVDS25 PULL_MODE=NONE;
